body{
  display: flex;
  margin: 80px;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.7);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.cores{
  display: grid;
  grid-template-columns: 100px 150px 35px;
  grid-gap: 15px;
  line-height: 30px;
}
#quadrado{
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 30px;
}
input[type="text"] {
width: 35px;
text-align: center;
}
